
.topnav {
    overflow: hidden;
    background-color: rgb(41, 41, 44);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid #141414;
}

 /*  navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #ebe3e3;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 17px;
}

/* color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.heart {
    border-radius: 200px; /* радіус */
    box-shadow: 0 0 0 2px rgb(87, 87, 87), 0 0 13px #333; /* тіні */
    margin-left: 20px;
    margin-top: 15px;
    width: 250px;
    height: 250px;
}

.photoindex {
    width: 100%;
    margin-top: 5px;
    border: 2px solid rgb(17, 17, 17);
    border-radius:10px; /* радіус */
}
.round {
    border-radius: 200px; /* радіус */
    box-shadow: 0 0 0 1px rgb(0, 0, 0), 0 0 13px #333; /* тіні */
    background-color:rgb(85, 15, 47);
    font-size:30px;
    margin-bottom: 15px;
    margin-top: 100px;
}

/* Bordered form */
.top {
    width: 100%;
    float: left;
    color:rgb(0, 0, 0);
    margin-bottom: 20px
}

body {
    background-color:rgb(85, 15, 47);
}

/* Container holding the image and the text */
.logoimg {
    margin-top: 43px;
    text-align: left;
    top: 43px;
    border: 4px solid #242424;
}

/*  text */
.content {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
}

    .contentp {
        position: absolute;
        top: 185px;
        left: 100px;
        width: 90%;
        color: rgb(226, 151, 151);
        
    }

/*form entered*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* style for all buttons */
button {
    background-color: rgb(83, 90, 84);
    color: white;
    padding: 8px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/*  styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f54f43;
}

.enter {
    padding: 10px;
}

/*  Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 500px;
    top: 0;
    width: 50%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    color: white;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.reset {
    width: auto;
    padding: 10px 18px;
    margin-left: 50px;
    background-color: #000000;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 8px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 20px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 50%;
    height: 550px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.myhistory{
    background-color: rgb(219, 219, 219);
    color: rgb(46, 44, 44);
    width: 70%;
    text-align: left;
    margin: 100px 50px;
    border: 3px solid black;
    padding-left: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
}

.text {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 40px;
    color: rgb(14, 13, 13);
    border: 2px solid black;
    background-color:rgb(185, 163, 173); 
}

.title {
    width: 200px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(212, 208, 208);
    text-align: center;
}

h1 .text{
    margin-left: 40px;
    margin-right: 50px;
    background-color: rgb(167, 152, 159);
  }
  
.a:link, .a:visited { 
    background-color: rgb(199, 191, 199);
    color: #000000;
    border-radius: 5px; /* радіус */
    text-decoration: none;
    padding: 4px 5px;
    text-align: center;
    display: inline-block;
}
.a:hover, .a:active {
    background-color: rgb(12, 12, 12);
    color: rgb(241, 238, 238);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(36, 24, 30);;
    color: rgb(88, 96, 105);
    text-align: center;
    border: 1px solid black;
}
